In [3]:
import pandas as pd
df=pd.read_csv('data  table weather.csv')
df

        day  temperature  windspeed  event
0  01-01-17           32          6   Rain
1  01-02-17           35          7  Sunny
2  01-03-17           28          2   Snow
3  01-04-17           24          7   Snow
4  01-05-17           32          4   Rain
5  01-06-17           31          2  Sunny

In [9]:
import pandas as pd
weather_data={"userId": ["1","2"],
      "firstName": ["Krish","Krishna"],
      "lastName": ["Lee","Leo"],
      "phoneNumber": ["123456","654321"],
      "emailAddress": ["krish.lee@learningcontainer.com","krish.lee@learningcontainer.com"]
             }
df=pd.DataFrame(weather_data)
df

  userId firstName lastName phoneNumber                     emailAddress
0      1     Krish      Lee      123456  krish.lee@learningcontainer.com
1      2   Krishna      Leo      654321  krish.lee@learningcontainer.com

In [12]:
row, column=df.shape

In [13]:
row

2

In [14]:
column

5

In [16]:
df.head()

  userId firstName lastName phoneNumber                     emailAddress
0      1     Krish      Lee      123456  krish.lee@learningcontainer.com
1      2   Krishna      Leo      654321  krish.lee@learningcontainer.com