In [14]:
import pandas as pd
data=pd.read_csv(r"data weather.csv",parse_dates=["EST"])
data

,Unnamed: 0,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
3,3,2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
4,4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,5,2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
6,6,2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
7,7,2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
8,8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,9,2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,10,2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
11,11,2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
12,12,2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
13,13,2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
14,14,2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
15,15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,18,2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
19,19,2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
20,20,2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
21,21,2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,24,2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
25,25,2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
26,26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,27,2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
28,28,2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
29,29,2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
30,30,2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241